* {
  font-family: Helvetica, sans-serif;
}

html {
  padding: 60px;
}

input {
  width: 100%;
  font-size: 1.2rem;
  color: #666;
}

.gif-grid {
  display: flex;
  flex-flow: row wrap;
}

.gif-item {
  display: flex;
  flex-flow: column;
}
